
/* Style for the Service list container */
.Service-list {
    text-align: center;
    padding: 20px;
    margin: 1rem;
  }
  
  .Service-list h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-left: 0.5rem rgb(4, 255, 83) solid;
    text-align: left;
    margin:1rem;
    padding: 2rem;
    font-size: 140%;
  }
  .Ongoing-service{
    
    text-align: left;
    padding: 1rem;
  }
  /* Style for the Service set within the carousel */
  .Service-set {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-between; /* Distribute items evenly */
    gap: 20px; /* Add spacing between items */
  }
  
  /* Style for individual Service cards */
  .Service-item {
    background: linear-gradient( rgb(179, 250, 199), rgb(217, 255, 217), rgb(198, 255, 198), rgb(154, 255, 154), rgb(144, 255, 144), rgb(101, 255, 101),rgb(2, 255, 48));
    /* background: linear-gradient(rgb(254, 255, 255),rgb(215, 237, 247),rgb(194, 236, 255),rgb(166, 227, 255),rgb(157, 234, 255)); */
    /* background: linear-gradient(rgb(251, 243, 233), rgb(255, 234, 197), rgb(255, 222, 162), rgb(255, 199, 110), rgb(252, 175, 74)); */


    color: #000000;
    padding: 20px;
    text-align: left;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: calc(35% - 20px);
    min-width: 280px; /* Minimum width to prevent cards from becoming too small */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    height: 20rem!important;
  }
  
  .Service-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Style for Service titles */
  .Service-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style for Service descriptions */
  .Service-item p {
    font-size: 14px;
    text-align: left;
  }
  
  /* Style for Service images */
  .img_proj {
    height: 15rem;
    width: 100%;
    border-radius: 1rem;
  }
  
  .loading-skeletons {
    display: flex;
    flex-wrap: wrap; /* Allow skeletons to wrap to the next line if needed */
    justify-content: space-between; /* Distribute skeletons evenly */
    gap: 20px; /* Add spacing between skeletons */
  }
  
  /* ServiceUpload.css */
  .upload-container {
    margin: 1rem;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .upload-container input[type="file"] {
    margin-bottom: 10px;
  }
  
  .upload-container input[type="text"],
  .upload-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .upload-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-container button:hover {
    background-color: #0056b3;
  }
  
  
  .Service-item{
    height: 25rem;
    width: 20rem;
    margin: 1rem auto;
  }

.services-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    margin: 1rem;
    flex-wrap: wrap;
}

.services-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;
}

.services-card{
    /* border: 1px solid #121212; */
    border-radius: 12px;
    box-shadow: 2px 5px 12px #12121215;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

