.input{
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 1rem 0rem;
}

.input label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0.5rem 0rem;
    color: rgb(33, 33, 33);
}

.input input{
    border: none;
    border-radius: 0.5rem;
    background-color: #f6f6f6fa;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
}

.input input::placeholder{
    color: rgb(124, 124, 124);
}